<%# CSS・・・assetes/stylesheets/shared/header.css %>
<head>
  <div class="top-page-header">
    <ul class="lists-left">
    <% if user_siged_in? %>
    <li><%= link_to%>
    <li><%= link_to%>
    <li><%= link_to%>
    <li><%= link_to%>
    </ul>
  </div>
