<!DOCTYPE HTML>
<html>
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="application.css">
    <div class='title-contents'>
    <h2 class='service-title'>
       子育てあるある日記
    </h2>
       <p class='serivice-expliain'>
        子育てのあるあるな出来事を投稿したり、専門家の方に悩みや不安を相談できる
       </p>
       <p class='serivice-expliain'>
       アプリになっています
       </p>
    
   </head>
   <body>
    