<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheets" href="application.css">
       <div class="top-page-header">
        <ul class="lists-left">
          <li>
          <a class="lists" href="/user/chatroom">チャットルーム</a>
          </li>
           <li>
           <a class="post" href="/user/post">投稿する</a>
           </li>
        </ul>
          <ul class="list-right">
           <li>
            <a class="login" href="/user/login">ログイン</a>
            
            </li>
              <li>
               <a class="singup" href="/user/singup">新規登録</a>
               </li>
          </ul>
        </div>
         <div class="image-header">
          <div class="image-top"  style="background:url(images/top.01.png); background-size:cover;">
          </div>
         </div>
    </head>
    <body>
       <div class="body-top-page">
         <div class="image-left"  style="background:url(images/top.003.png); background-size:cover;">
         </div>
         <div class="image-right"  style="background:url(images/top.002.png); background-size:cover;">
         </div>
  </body>
</html>