<!DOCTYPE HTML>
   -<html>
   <div class='main'>
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="application.css">
   </head>
  </div>
   <body>
       <header class="top-page-header">
         <div class="nav">
         <ul class="lists-left">
         <li>
         <a class="chat-room" href="/user/chat room" >チャットルーム</a>
         </li>
         <li>
         <a class="post" href="/user/post" >投稿する</a>
         </li>
         </ul>
          <ul class="lists-right">
          <li>
          <a class="login" href="/users/sing in">ログイン</a>
          </li>
          <li>
          <a class="sing-up" href="/user/sing up">新規登録</a>
          </li>
          <div class='contents'>
        <div class="image-contents" style="background:url(images/top.01.png); background-size:cover;">
<footer>
         <div class='serivice-left'>
          <div class="image-left" style="background:url(images/top.03.png); background-size:cover;">
          </div>
           <div class="image-right" style="background:url(images/top.02.png); background-size:cover;">
          </div>
</footer>
</html>