.registration-main {
  width: auto;
  height: 100px;
  background-color: white;
}
.form-wrap {

}
.form-header {

}
.new.js {

}
.form-header-text {

}
.form-group {

}
.form-text-wrap {

}
.form-text {

}
.indispensable {

}
.input-default {

}
.form-group {

}
.form-text-wrap {

}
.form-text {

}
.indispensable {

}
.input-default {

}
.login-btn {

}
.login-red-btn {
  
}